# متغيرات عامة (تُكشف في المتصفح – آمنة لأنها anon)
VITE_SUPABASE_URL=https://tmamvdduvmqgnjldvoao.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRtYW12ZGR1dm1xZ25qbGR2b2FvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTE0Nzg2ODAsImV4cCI6MjEwNzA1NDY4MH0.PSxNwFORd9GlTu-PAKPfD_YC8ISshAqQU70jD54RIyY
# متغيرات سرية (سيرفر فقط – بدون VITE_)
GEMINI_KEY=AQ.Ab8RN6I1O3tb_fCoBXrLTvSfO0tz-CzPS-2eUsj4Ccejq3bDgA
GROQ_KEY=gsk_...
OPENROUTER_KEY=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
