
# متغيرات عامة (تُكشف في المتصفح – آمنة لأنها anon)
VITE_SUPABASE_URL=https://tmamvdduvmqgnjldvoao.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_y3yBb_0MrASjS3he12ULLA_bjlT63d0
# متغيرات سرية (سيرفر فقط – بدون VITE_)
OPENROUTER_KEY=ssk-or-v1-7d52b7a686e426c3bbf03869eef3915f3da761e1303d514ddf47c635883467cc
GROQ_KEY=gsk_...
SITE_URL=https://new-udf9.vercel.app